@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  text-decoration: none;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.imagecontainer {
  display: flex;
  justify-content: space-between;
}

.defineimage {
  width: 693.75%;
  height: 4.6em;
  background-image: url("../images/left_topside_icon.svg");
  background-repeat: no-repeat;
}

.defineimage1 {
  width: 125%;
  height: 87.5%;
  margin-top: 125%;
  background-image: url("../images/ic_.svg");
  background-size: 100% auto;
}

.text1 {
  width: 1375%;
  height: 625%;
  margin-top: 10%;
  margin-bottom: 1%;
}

.text2 {
  width: 90.5%;
  height: 787.5%;
  padding-left: 3.5%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

.border-button {
  border: solid 1px #00f;
  display: inline-block;
  padding-left: 0;
  margin-left: 2.5%;
  text-align: center;
  width: 94.55%;
  height: 312.5%;
  line-height: 312.5%;
  color: white;
  text-decoration: none;
  background: black;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.Menubutton {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  background-image: url('../images/menubgmobiletop.svg'), url(../images/menubgmobilebottom.svg);
  background-repeat: no-repeat;
  background-size: 78%, 100%;
  background-position: left top, left bottom;
}

.menu_ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin-top: 42%;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 360%;
}

.material-icons {
  float: right;
  margin-top: 7%;
  margin-right: 10%;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

body,
html {
  height: 100%;
  width: auto !important;
  overflow-x: hidden !important;
}

.secondimagecontain {
  background-image: url("../images/image_geometry_2-1.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: 10%;
  height: 11em;
}

.text1,
.text3 {
  padding-left: 2.5%;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 312.5%;
  line-height: 100%;
  color: #1a2236;
}

.text3 {
  width: 1131%;
}

.projectpageimage1 {
  background: url("../images/Rectangle_21.svg");
  background-repeat: no-repeat;
}

.rectangle1 {
  width: 100%;
  height: 10em;
  margin-top: -1%;
  color: #fdfdfd;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.text4 {
  margin-top: 2.75%;
  margin-left: 6.25%;
  width: 1650%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 125%;
}

.grid-container {
  display: grid;
  grid-template-columns: [col1-start] 100px  [col2-start] 100px  [col3-start] 100px [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row2-end];
  grid-column-gap: 5.5%;
}

.grid-item {
  display: flex;
  background-color: #98dede;
  text-align: center;
  width: 462.5%;
  height: 125%;
  line-height: 195%;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin-top: -112.5%;
  font-style: normal;
  font-weight: 300;
  font-size: 64.5838%;
}

.box1 {
  width: 60.25%;
  height: 1.9em;
  margin-left: 21.5%;
  z-index: 1;
}

.box2 {
  width: 85.75%;
  height: 1.9em;
  margin-left: -26.75%;
  z-index: 1;
}

.box3 {
  width: 62.5%;
  height: 1.9em;
  margin-left: -49.5%;
  z-index: 1;
}

.text115,
.text5,
.text25,
.text35,
.text45,
.text55 {
  border: solid 1px rgb(247, 247, 248);
  display: inline-block;
  margin-left: 6.8%;
  margin-top: -21.25%;
  z-index: 1;
  padding-left: 2.5%;
  width: 56.25%;
  line-height: 281.25%;
  color: white;
  text-decoration: none;
  background: black;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
}

.text115:hover,
.text5:hover,
.text25:hover,
.text35:hover,
.text45:hover,
.text55:hover {
  border-color: blue;
}

.img113 {
  width: 8.56%;
  height: 1em;
  margin-left: 51.25%;
  margin-top: -9.8%;
  z-index: 1;
  background-color: #070707;
}

.projectpageimage2 {
  background: url("../images/second_project.svg");
  background-repeat: no-repeat;
  margin-top: 10.75%;
}

.rectangle3 {
  margin-top: -1%;
  width: 100%;
  height: 10em;
  color: #fdfdfd;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.img23 {
  width: 8.56%;
  height: 1em;
  margin-left: 51.25%;
  margin-top: -9.8%;
  z-index: 1;
  background-color: #070707;
}

.projectpageimage3 {
  background: url("../images/thirdproject.svg");
  background-repeat: no-repeat;
  margin-top: 10.75%;
}

.rectangle5 {
  margin-top: -1%;
  width: 100%;
  height: 10em;
  color: #fdfdfd;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.img33 {
  width: 8.56%;
  height: 1em;
  margin-left: 51.25%;
  margin-top: -9.8%;
  z-index: 1;
  background-color: #070707;
}

.projectpageimage4 {
  background: url("../images/fourthproject.svg");
  background-repeat: no-repeat;
  margin-top: 10.75%;
}

.rectangle7 {
  margin-top: -1%;
  width: 100%;
  height: 10em;
  color: #fdfdfd;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.img43 {
  width: 8.56%;
  height: 1em;
  margin-left: 51.25%;
  margin-top: -9.8%;
  z-index: 1;
  background-color: #070707;
}

.projectpageimage5 {
  background: url("../images/fifthproject.svg");
  background-repeat: no-repeat;
  margin-top: 10.75%;
}

.rectangle9 {
  margin-top: -1%;
  width: 100%;
  height: 10em;
  color: #fdfdfd;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.img35 {
  width: 8.56%;
  height: 1em;
  margin-left: 51.25%;
  margin-top: -9.8%;
  z-index: 1;
  background-color: #070707;
}

.projectpageimage6 {
  background: url("../images/sixthproject.svg");
  background-repeat: no-repeat;
  margin-top: 10.75%;
}

.rectangle11 {
  margin-top: -1%;
  width: 100%;
  height: 10em;
  color: #fdfdfd;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.img3 {
  width: 8.56%;
  height: 1em;
  margin-left: 51.25%;
  margin-top: -9.8%;
  z-index: 1;
  background-color: #070707;
}

.projectpageimage1,
.projectpageimage2,
.projectpageimage3,
.projectpageimage4,
.projectpageimage5,
.projectpageimage6 {
  background-size: cover;
  display: flex;
  width: 100%;
  height: 12em;
}

.projectpageimage2:hover {
  transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
  background-color: blue;
}

.About_section {
  display: flex;
  flex-direction: column;
  margin-top: -6.25%;

  /* align-items: center; */
}

.abouttext {
  width: 837.5%;
  height: 312.5%;
  padding-top: 35%;
  padding-left: 5%;
  font-size: 312%;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
}

.aboutpara {
  width: 95%;
  height: 10em;
  padding-left: 4.5%;
  padding-top: 10%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 87.5%;
  line-height: 150.25%;
}

.rectangle13 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3em;
  margin-top: 3%;
  margin-left: 3%;
  background: #1a2236;
}

.getmycv {
  width: 27.5%;
  height: 50%;
  margin-top: 4%;
  margin-left: 35%;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 150%;
  color: #fdfcfc;
}

.img4 {
  width: 10%;
  height: 50%;
  margin-top: -8.25%;
  margin-left: 63%;
}

.Languages_test {
  display: flex;
  flex-direction: column;
  width: 687.5%;
  height: 1em;
  padding-left: 25%;
  padding-top: 35%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 125%;
  line-height: 100%;
  z-index: 1;
  color: #fff;
}

.img5 {
  display: block;
  width: 117%;
  margin-left: 1%;
  margin-top: -25%;
}

.img6 {
  width: 37%;
  margin-left: 67%;
  margin-top: -37%;
}

.navigat,
.navigat1,
.navigat2 {
  display: inline;
  z-index: 1;
}

.list_items_languages {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 112.5%;
  line-height: 168.75%;
  letter-spacing: -0.0525em;
  color: #fff;
}

.jslist {
  margin-top: -93%;
  margin-left: 21%;
}

.rubylist {
  margin-left: 21%;
}

.htmllist {
  margin-left: 21%;
}

.csslist {
  margin-left: 21%;
}

.Frameworks_test {
  display: flex;
  flex-direction: column;
  width: 725%;
  height: 1.5em;
  padding-left: 25%;
  padding-top: 10%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 125%;
  line-height: 100%;
  z-index: 1;
  color: #fff;
}

.img7 {
  display: block;
  width: 117%;
  margin-left: 1%;
  margin-top: -25%;
}

.img8 {
  width: 37%;
  margin-left: 67%;
  margin-top: -37%;
}

.bootstraplist {
  margin-top: -98%;
  margin-left: 21%;
}

.rubyraillist {
  margin-left: 21%;
}

.rspeclist {
  margin-left: 21%;
}

.caplist {
  margin-left: 21%;
}

.sellist {
  margin-left: 21%;
}

.Skills_test {
  display: flex;
  flex-direction: column;
  width: 600%;
  height: 1.5em;
  padding-left: 25%;
  padding-top: 10%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 125%;
  line-height: 100%;
  z-index: 1;
  color: #fff;
}

.img9 {
  display: block;
  width: 117%;
  margin-left: 1%;
  margin-top: -25%;
}

.img10 {
  width: 37%;
  margin-left: 67%;
  margin-top: -37%;
}

.codekitlist {
  margin-top: -98%;
  margin-left: 21%;
}

.codepenlist {
  margin-left: 21%;
}

.githublist {
  margin-left: 21%;
}

.gitlablist {
  margin-left: 21%;
}

.termlist {
  margin-left: 21%;
}

.img11 {
  width: 33.75%;
}

.Contact-form {
  display: flex;
  flex-direction: column;
}

.text10 {
  width: 1618.75%;
  margin-left: 2%;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 312.5%;
  line-height: 100%;
}

.contact-form-ullist {
  list-style: none;
}

.nooutline:focus {
  outline: none;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  padding-left: -5%;
  padding-top: 1.25%;
}

textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 87.5%;
  line-height: 131.25%;
  width: 50.5%;
  padding-left: 2%;
  padding-top: 2%;
}

.contact-form-para {
  width: 100%;
  height: 10%;
  margin-left: 5%;
  margin-top: 1%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  justify-content: space-around;
  letter-spacing: -0.01em;
}

.contact-form-name {
  width: 110%;
  height: 3.4em;
  margin-top: 8%;
  padding-top: 3%;
  padding-left: 5px;
  margin-left: -11%;
  background: #fff;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 1%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 112.5%;
  color: #7d7c84;
  display: inline-block;
}

.sample_text {
  width: 73px;
  height: 21px;
  margin-left: 11px;
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.contact-form-email {
  width: 110%;
  height: 5.4em;
  margin-top: 2%;
  margin-left: -11%;
  padding-top: 3%;
  padding-left: 1%;
  font-size: 62.5%;
  line-height: 93.75%;
  background: #fff;
  border: 1px solid #1a2236;
  box-sizing: border-box;
  border-radius: 1%;
  color: #7d7c84;
}

.contact-form-message {
  width: 110%;
  height: 9.4em;
  background: #fff;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 1%;
  font-size: 87.5%;
  line-height: 131.25%;
  margin-left: -11%;
  margin-top: 2%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #7d7c84;
}

.contact-form-submit {
  border: solid 1px #00f;
  display: inline-block;
  line-height: 2%;
  color: white;
  margin-left: -11%;
  margin-top: 10%;
  text-decoration: none;
  background: black;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  width: 110%;
  height: 3em;
  background-color: #1a2236;
}

.contact-form-submit:hover {
  border-color: rgba(255, 0, 0, 1);
}

.text17 {
  width: 100%;
  height: 9.5em;
  margin-top: 15%;
  padding-top: 10%;
  padding-left: 8%;
  margin-left: -2%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 150%;
  color: #92dcdc;
  background: #1a2236;
}

.img12 {
  width: 6%;
  height: 6%;
  margin-left: 50%;
  margin-top: -47%;
}

.img13 {
  width: 8%;
  height: 8%;
  margin-left: 6%;
  margin-top: 14%;
}

.img14 {
  width: 8%;
  height: 8%;
  margin-left: 20%;
  margin-top: -8%;
}

.img15 {
  width: 8%;
  height: 8%;
  margin-left: 35%;
  margin-top: -7%;
}

.img16 {
  width: 8%;
  height: 8%;
  margin-left: 51%;
  margin-top: -7.8%;
}

.img17 {
  width: 8%;
  height: 8%;
  margin-left: 67%;
  margin-top: -7%;
}

.img18 {
  width: 8%;
  height: 8%;
  margin-left: 82%;
  margin-top: -8%;
}

.horizontal_line,
.text17_footer,
.footer_rect,
.desk_textcontainer,
.desk_contents_section1,
.desk_projects-container,
.desk_projects-container1,
.desk_projects-container2,
.desk_projects-container3,
.desk_languages-container,
.contactform_end {
  display: none;
}

/* starting with responsive web design */

/* @media screen and (min-width: 1000px) {
  @import url("style1.css");
} */
.pop_container {
  display: flex;
}

.pop_window {
  margin-top: 50px;
  margin-left: 30px;
}

.closeicon {
  margin-top: -30px;
  margin-left: 20px;
  font-size: 2em;
}

.portfolio_image {
  margin-top: 20px;
  width: 60%;
}

.move_buttons {
  margin-left: 62px;
  margin-top: 10px;
  justify-content: flex-start;
}

.pop_content {
  width: 80%;
  height: 432px;
  margin-left: 4em;
  margin-top: 2em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.padding_live {
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-top: 20px;
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
}

.buttons_live_pop {
  width: 246px;
  height: 51px;
  margin-left: 80px;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
}

.pop_button_edit {
  background: white;
  border: 0.5px solid black;
  width: 79px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  white-space: nowrap;
}

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}

.divider_live {
  width: auto;
  height: 10px;
  padding: 10px;
  display: inline-block;
}

.pop_title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 80%;
  width: 264px;
  height: 16px;
  margin-left: 30px;
}

.section_pop_window {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: white;

  /* overflow-y: scroll; */
  z-index: 1;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;
  overflow-y: scroll;
}

.section_pop_window * {
  margin-left: unset;
}

.live_link1 {
  background: url('../images/live_link.svg');
  background-repeat: no-repeat;
  background-position: 200px;
}

.live_link2 {
  background: url('../images/github_portfolio.svg');
  background-repeat: no-repeat;
  background-position: 200px;
}

.chklabel_email {
  font-size: 122%;
  padding-top: 342%;
}
